@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

.tasks-list {
  padding: 10px !important;
}

.fully-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 400px;
  height: auto;
  margin-top: 10vh;
}